<h3>Config</h3>
<table class="table">
    <thead>
    <tr>
        <th colspan="3">Keys</th>
        <th>Value</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="attribute in attributes">
            <td>{{attribute[0]}}</td>
            <td>{{attribute[1]}}</td>
            <td>{{attribute[2]}}</td>
            <td>{{attribute[3] | json}}</td>
            <td><button class="btn btn-danger" ng-click="remove(attribute)">Delete</button></td>
        </tr>
    </tbody>
</table>