<h3>Node browser</h3>

<div ng-if="!node">
    <p><a href="javascript:void(0);" ng-click="toggleHelp();">Node browser syntax [click to <span ng-if="showhelp">collapse</span><span ng-if="!showhelp">expand</span>]</a></p>
    <div ng-show="showhelp" class="form-info">
        <div class="form-info-icon"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
        <div class="form-info-text"><p>You can search for one or more nodes in the following ways:</p>
            <ul>
                <li>By database ID: Just enter the number, e.g. <code>123</code></li>
                <li>By reference: Enter the noderef path, e.g. <code>workspace://SpacesStore/b4cff62a-664d-4d45-9302-98723eac1319</code></li>
                <li>Through FTS: Enter a valid Lucene/FTS query, e.g. <code>TYPE:"cm:authority" AND (cm:authorityName:"*admin*" OR cm:firstName:"*admin*")</code></li>
            </ul>
            <p><a href="https://community.alfresco.com/docs/DOC-5729-full-text-search-query-syntax">A decent reference of the FTS syntax can be found here.</a></p>
        </div>
    </div>
    <form ng-submit="search()">
        <input type="text" placeholder="lucene searchquery" ng-model="searchModel.query" class="form-control text-monospace" name="query"/>
    </form>
    <div class="alert alert-secondary" role="alert" ng-if="results.success">
        Showing {{results.nodes.length | number}} of {{results.total | number}} results
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Noderef</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="node in results.nodes">
            <td>{{node.name}}</td>
            <td><a href="#/browser/{{node.noderef | hash}}">{{node.noderef}}</a></td>
            <td>{{node.type}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-if="node">
    <fieldset>
        <legend>Info</legend>
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input readonly type="text" value="{{node.name}}" class="form-control"/>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Noderef</label>
                <div class="col-sm-6">
                    <input readonly type="text" value="{{node.noderef}}" class="form-control"/>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Display path</label>
                <div class="col-sm-6">
                    <input readonly type="text" value="{{node.displayPath}}" class="form-control"/>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">QName path</label>
                <div class="col-sm-6">
                    <input readonly type="text" value="{{node.qnamePath}}" class="form-control"/>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-6">
                    <select ng-change="setType(node.type)" ng-model="node.type" class="form-control">
                        <optgroup ng-repeat="(model,modelTypes) in ::types" label="{{model}}">
                            <option ng-repeat="type in ::modelTypes" value="{{type.qname}}" ng-selected="type.qname == node.type">{{type.qname}} ({{type.title}})</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>Properties</legend>
        <form class="form-horizontal">
            <div ng-repeat="(qname,value) in node.properties" class="form-group form-group-sm has-feedback">
                <label class="col-sm-2 control-label">{{qname}}</label>
                <div class="col-sm-6">
                    <a ng-if="node.properties[qname].indexOf('contentUrl') == 0" ng-click="gotoContentUrl(node)" ng-href="">node.properties[qname]</a>
                    <input ng-if="node.properties[qname].indexOf('contentUrl') != 0" type="text" ng-model="node.properties[qname]" class="form-control" ng-enter="saveProperty(qname)" />
                    <span ng-click="deleteProperty(qname)" class="glyphicon glyphicon-trash form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <input type="text" ng-model="newQName" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <input type="text" ng-model="newValue" class="form-control" ng-enter="addProperty(newQName, newValue)"/>
                </div>
            </div>
        </form>
    </fieldset>

    <fieldset>
        <legend>{{::node.aspects.length}} aspects</legend>
        <ul ng-repeat="aspect in node.aspects">
            <li class="aspect"><code>{{aspect}}</code> <span class="label label-danger" ng-click="removeAspect(aspect)">delete</span></li>
        </ul>
        <p>
            Add aspect:
            <select ng-change="addAspect(newAspect)" ng-model="newAspect" class="form-control">
                <optgroup ng-repeat="(model,modelAspects) in ::aspects" label="{{model}}">
                    <option ng-repeat="aspect in ::modelAspects" value="{{aspect.qname}}">{{aspect.qname}} ({{aspect.title}})</option>
                </optgroup>
            </select>
        </p>
    </fieldset>

    <fieldset>
        <legend>{{node.sourceAssocs.length}} source associations</legend>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="assoc in node.sourceAssocs">
                <td>{{::assoc.id}}</td>
                <td><a href="#/browser/{{::assoc.sourceRef | hash}}">{{::assoc.sourceRef}}</a></td>
                <td>{{::assoc.type}}</td>
                <td><button class="btn btn-danger" ng-click="deleteAssoc(assoc)">delete</button></td>
            </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>{{node.targetAssocs.length}} target associations</legend>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Target</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="assoc in node.targetAssocs">
                <td>{{::assoc.id}}</td>
                <td><a href="#/browser/{{::assoc.targetRef | hash}}">{{::assoc.targetRef}}</a></td>
                <td>{{::assoc.type}}</td>
                <td><button class="btn btn-danger" ng-click="deleteAssoc(assoc)">delete</button></td>
            </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>{{node.children.length}} children</legend>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Noderef</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="child in node.children">
                <td>{{::child.name}}</td>
                <td><a href="#/browser/{{::child.noderef | hash}}">{{::child.noderef}}</a></td>
                <td>{{::child.type}}</td>
                <td><button class="btn btn-danger" ng-click="deleteChild(child)">delete</button></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" ng-model="newChildRef"></td>
                <td></td>
                <td><button class="btn btn-primary" ng-click="addChild(newChildRef)">Add</button></td>
            </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>ACL</legend>
        <pre>{{node.acl | json}}</pre>
    </fieldset>
</div>
