<h3>Bulk operations</h3>

<form class="form-horizontal" role="form">
    <div class="">
        <label class="control-label">Store</label><select class="form-control" ng-options="a as a for a in form.stores" ng-model="form.store"></select>
    </div>
    <div class="">
        <label class="control-label">FTS Query</label><input class="form-control" ng-model="form.query" />
    </div>
    <div class="">
        <label class="control-label">Batch size</label><input class="form-control" ng-model="form.batchsize" />
    </div>
    <div class="">
        <label class="control-label">Number of threads</label><input class="form-control" ng-model="form.threads" />
    </div>
    <div class="">
        <label class="control-label">Action</label><select class="form-control" ng-options="a as a for a in form.actions" ng-model="form.action"></select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="execute()">Execute</button>
</form>

<pre ng-show="result">{{result | json}}</pre>