<h3>Bulk operations</h3>

<select name="mySelect" id="mySelect"
        ng-options="option.name for option in data.availableOptions track by option.id"
        ng-model="data.selectedOption"></select>

<div ng-if="data.selectedOption.id === 'search'">
    <form class="form-horizontal" role="form">
        <div class="">
            <label class="control-label">Store</label><select class="form-control"
                                                              ng-options="a as a for a in form.stores"
                                                              ng-model="form.store"></select>
        </div>
        <div class="">
            <label class="control-label">FTS Query</label><input class="form-control" ng-model="form.query"/>
        </div>
        <div class="">
            <label class="control-label">Batch size</label><input class="form-control" ng-model="form.batchsize"/>
        </div>
        <div class="">
            <label class="control-label">Number of threads</label><input class="form-control" ng-model="form.threads"/>
        </div>
        <div class="">
            <label class="control-label">Action</label><select class="form-control"
                                                               ng-options="a as a for a in form.getActions()"
                                                               ng-model="form.action"></select>
        </div>
        <div ng-show="form.getParameters(form.action)">
            <h4>Parameters:</h4>
            <div ng-repeat="param in form.getParameters(form.action)">
                <label class="control-label">{{param}}</label><input class="form-control"
                                                                     ng-model="form.parameters[param]"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="executeSearch()">Execute {{loading?"(loading)":""}}
        </button>
    </form>
</div>
<div ng-if="data.selectedOption.id === 'file'">
    <form class="form-horizontal" role="form">
        <div class="">
            <label class="control-label">File</label><input class="form-control-file" type="file" accept="text/plain"
                                                            file-model="form.file"/>
        </div>
        <div class="">
            <label class="control-label">Batch size</label><input class="form-control" ng-model="form.batchsize"/>
        </div>
        <div class="">
            <label class="control-label">Number of threads</label><input class="form-control" ng-model="form.threads"/>
        </div>
        <div class="">
            <label class="control-label">Action</label><select class="form-control"
                                                               ng-options="a as a for a in form.getActions()"
                                                               ng-model="form.action"></select>
        </div>
        <div ng-show="form.getParameters(form.action)">
            <h4>Parameters:</h4>
            <div ng-repeat="param in form.getParameters(form.action)">
                <label class="control-label">{{param}}</label><input class="form-control"
                                                                     ng-model="form.parameters[param]"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="executeFile()">Execute {{loading?"(loading)":""}}
        </button>
    </form>
</div>

<h3>Jobs</h3>
<button class="btn btn-danger" ng-click="clearJobs()">Clear</button>
<button class="btn btn-default" ng-click="loadJobs()">Refresh</button>
<div>{{canceled}}</div>
<table class="table">
    <thead>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Successes</th>
        <th>Errors</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs track by $index">
        <td>{{job.start}}</td>
        <td>{{job.end}}</td>
        <td>{{job.successes}}</td>
        <td>{{job.errors}}</td>
        <td>
            <button class="btn btn-danger" ng-click="cancelJobs($index)">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>
