<h3>Config</h3>
<table class="table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input ng-model="key"/></td>
        <td><input ng-model="value"/></td>
        <td><button class="btn btn-primary" ng-click="save(key,value)">Add</button></td>
    </tr>
    <tr ng-repeat="(key, value) in properties">
        <td>{{key}}</td>
        <td><input ng-model="value"/></td>
        <td><button class="btn btn-primary" ng-click="save(key, value)">Save</button></td>
        <td><button class="btn btn-danger" ng-click="remove(key)">Delete</button></td>
    </tr>
    </tbody>
</table>