<h3>Links</h3>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Link</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="thread/dump" target="_blank">Threaddump</a></td>
                <td>Shows a list of all the Java threads that are currently active in a Java Virtual Machine. Usefull when debugging high CPU usage or observing current behavior.</td>
            </tr>
            <tr>
                <td><a href="attributes/" target="_blank">Attributes</a></td>
                <td>Shows a list of attributes, including PropertyManagedBeans.</td>
            </tr>
            <tr>
                <td><a href="scheduled/validateschema/txt" target="_blank">Schema validation</a></td>
                <td>Validates the database schema for e.g. missing database indexes</td>
            </tr>
        </tbody>
    </table>
</div>
