<h3>Links</h3>
<ul>
    <li><a href="solr/proxy/admin/cores?action=SUMMARY&wt=json">SUMMARY</a></li>
    <li><a href="solr/errors">ERRORS</a></li>
    <li><a href="solr/errors/nodes">ERRORS CSV</a></li>
    <li><a href="solr/proxy/admin/cores?action=RETRY&wt=json">RETRY:</a> Try again to index any node that failed to index and was skipped</li>
    <li><a href="solr/proxy/admin/cores?action=FIX&wt=json">FIX:</a> Fix any issues as reported by the REPORT option</li>
</ul>
<h3>Errors</h3>
<table class="table">
    <thead>
    <tr>
        <th>Exception</th>
        <th>Count</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="error in errors">
        <td>{{error.exception}}</td>
        <td>{{error.count}}</td>
        <td><button class="btn btn-danger" ng-click="errorFix(error.exception,'nocontentindexing')">No content indexing</button></td>
    </tr>
    </tbody>
</table>
<h3>Actions</h3>
<table class="table">
    <thead>
    <tr>
        <th>Transaction ID</th>
        <th>ACL Transaction ID</th>
        <th>Node ID</th>
        <th>Acl ID</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input ng-model="txid"/></td>
        <td><input ng-model="acltxid"/></td>
        <td><input ng-model="nodeid"/></td>
        <td><input ng-model="aclid"/></td>
        <td><button class="button" ng-click="action('INDEX')">Index</button></td>
        <td><button class="button" ng-click="action('REINDEX')">Reindex</button></td>
        <td><button class="button" ng-click="action('NODEREPORT')">Node report</button></td>
    </tr>
    </tbody>
</table>

<pre>{{result | json}}</pre>


<h3>Fields</h3>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="field in fields">
        <td><a href="/alfresco/s/xenit/care4alf/solr/proxy/alfresco/terms?terms.fl={{field}}&terms.limit=10">{{field}}</a></td>
    </tr>
    </tbody>
</table>
