<h3>Status</h3>
<ul>
    <li><a href="/alfresco/service/xenit/care4alf/solr/proxy/admin/cores?action=SUMMARY&wt=json">SUMMARY</a></li>
    <li><a href="/alfresco/service/xenit/care4alf/solr/errors">ERRORS</a></li>
    <li><a href="/alfresco/service/xenit/care4alf/solr/proxy/admin/cores?action=FIX">FIX</a></li>
</ul>

<h3>Fields</h3>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="field in fields">
        <td><a href="/alfresco/s/xenit/care4alf/solr/proxy/alfresco/terms?terms.fl={{field}}&terms.limit=10">{{field}}</a></td>
    </tr>
    </tbody>
</table>
