<select name="querySelect" id="querySelect" ng-options="savedquery.name for savedquery in queries track by savedquery.name" ng-model="selectedQuery"
        ng-change="update()"></select>
<form role="form">
    <label for="query">Query:</label>
    <textarea class="form-control" type="text" ng-model="sql.query" id="query">
    </textarea>
    <button type="submit" class="btn btn-default" ng-click="query()">Query</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Results</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="rows in results" ng-if="$first">
        <td class="font-bold" ng-repeat="el in rows track by $index">{{el}}</td>
    </tr>
    <tr ng-repeat-end="rows in results" ng-if="!$first">
        <td ng-repeat="el in rows track by $index">{{el}}</td>
    </tr>
    </tbody>
</table>