<h3>Import Permissions</h3>

<p>
    This tool allows you to import an Excel file with permissions and apply it to Alfresco. Download <a href="/alfresco/s/xenit/care4alf/resources/permissionimport/example.xlsx">this example</a> to check out the format.
</p>

<form class="form-horizontal" role="form">
    <div class="">
        <label class="control-label">File</label><input class="form-control-file" type="file" accept="text/plain"
                                                        file-model="form.file"/>
    </div>
    <button type="submit" class="btn btn-default" ng-click="execute()">
        Submit
    </button>
</form>

<pre ng-show="result">{{result}}</pre>