<select name="querySelect" id="querySelect" ng-options="savedquery.name for savedquery in queries track by savedquery.name" ng-model="selectedQuery"
        ng-change="update()"></select>
<form role="form">
    <label for="query">Query:</label>
    <span class="text-muted pull-right">Queries that require (auto)commit are not supported. That means no UPDATE, INSERT,… This is a feature, not a bug.</span>
    <textarea class="form-control text-monospace" type="text" ng-model="sql.query" id="query">
    </textarea>
    <button type="submit" class="btn btn-default" ng-click="query()">Query</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Results <span ng-if="results.success">({{results.length-1}} lines)</span></th>
    </tr>
    </thead>
    <tbody ng-if="results.success">
    <tr ng-repeat-start="rows in results" ng-if="$first">
        <td class="font-bold" ng-repeat="el in rows track by $index">{{el}}</td>
    </tr>
    <tr ng-repeat-end="rows in results" ng-if="!$first">
        <td ng-repeat="el in rows track by $index">{{el}}</td>
    </tr>
    </tbody>
</table>

<div ng-if="results.success == false" class="alert alert-danger">{{results.error}}</div>
