body {
  background-color: #31353c;
}
body > .title {
  background-color: #0081c2;
  margin: 0;
  padding: 10px;
}
body > .title a {
  color: #ffffff;
}
body > .title a h1 {
  margin: 5px 0;
}
body > .title .version {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.table {
  width: auto;
}
.menu {
  float: left;
  width: 200px;
  padding: 0;
}
.menu li {
  padding: 5px 10px;
}
.menu li a {
  color: #eee;
}
.menu li:hover a {
  color: white;
}
.body {
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 205px;
  margin-top: -30px;
  min-height: 500px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.body h3 {
  margin: 10px 0;
}
.widget-box {
  border: 1px solid #cdcdcd;
  background-color: white;
  margin: 15px;
}
.widget-box h5 {
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
.widget-box .widget-body {
  padding: 5px;
}
.alert {
  display: inline-block;
}
.workflow-instance {
  margin-bottom: 20px;
}
