<h3>Metadata Integrity Report</h3>
<p ng-if="!hasReport">No scan report exists yet. <a href="#/scheduledjobs">Run the integrityscan scheduled job.</a></p>
<div ng-if="hasReport">
    <p><strong>Scanned {{report.scannedNodes}} nodes in {{report['runtime (ms)']}} ms</strong>
        <span class="small">from {{ report.startTime | date:'yyyy-MM-dd HH:mm:ss' }}
        to {{ report.endTime | date:'yyyy-MM-dd HH:mm:ss' }}.</span>
    </p>
    <p ng-if="!isEmpty(report.nodeProblems)">Problems found relating to noderefs:
        <ul ng-repeat="(noderef, problems) in report.nodeProblems">
            <li>
                <strong><a href="{{noderef | nodelink}}">{{noderef}}</a></strong>:
                <ul ng-repeat="problem in problems">
                    <li>
                        {{problem.message}}
                        <ul ng-if="problem.property">
                            <li>{{problem.property}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    <p ng-if="isEmpty(report.nodeProblems)">No problems found relating to noderefs.</p>
    <p ng-if="!isEmpty(report.fileProblems)">Problems found relating to files:
        <ul ng-repeat="(file, problems) in report.fileProblems">
            <li>
                <strong>{{file}}</strong>
                <ul ng-repeat="problem in problems">
                    <li>{{problem.message}}</li>
                </ul>
            </li>
        </ul>
    </p>
    <p ng-if="isEmpty(report.fileProblems)">No problems found relating to files.</p>
</div>
<hr />
<p>
    You can configure the report in the alfresco-global.properties or in the <a href="#/config">config</a>.
    Make sure <code>mail.host</code> and <code>mail.port</code> are set to your mailserver, and
    <code>c4a.integrity.recipients</code> is a comma-separated list of email addresses.
    The cron expression can be configured in alfresco-global.properties (but not the config module) with the expression
    <code>c4a.integrity.cron</code> (proposed value: <code>0 0 3 ? * SAT</code>) or start it manually via the
    <a href="#/scheduledjobs">ScheduledJobs module</a> (choose integrityscan in the dropdown).
</p>