<h3>Metadata Integrity Report</h3>
<div ng-if="scanRunning" class="form-info">
    <div class="form-info-icon">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </div>
    <div class="form-info-text">
        <p>An Integrity Scan is currently running. Since {{ scanRunningSince }}, <strong>{{ progress.nodeProgress }}
            nodes</strong> and <strong>{{ progress.fileProgress }}</strong> files have been scanned.</p>
    </div>
</div>
<p ng-if="!hasReport && !scanRunning">No scan report exists yet. <a href="#/scheduledjobs">Run the integrityscan scheduled job.</a></p>
<div ng-if="hasReport">
    <report-renderer report="report"></report-renderer>
</div>
<hr />
<p>
    You can configure the report in the alfresco-global.properties or in the <a href="#/config">config</a>.
    Make sure <code>mail.host</code> and <code>mail.port</code> are set to your mailserver, and
    <code>c4a.integrity.recipients</code> is a comma-separated list of email addresses.
    The cron expression can be configured in alfresco-global.properties (but not the config module) with the expression
    <code>c4a.integrity.cron</code> (proposed value: <code>0 0 3 ? * SAT</code>) or start it manually via the
    <a href="#/scheduledjobs">ScheduledJobs module</a> (choose integrityscan in the dropdown).
</p>
<hr />
<form>
    <h4>Scanning specific nodes</h4>
    <p>You can test the scan on a specific subset of nodes by providing a comma-separated list of noderefs below.</p>

    <div class="form-group">
        <label for="subsetNoderefs">Noderefs</label>
        <input type="text" ng-model="subsetNoderefs" class="form-control" id="subsetNoderefs" />
    </div>
    <div class="form-group">
        <button type="submit" id="subsetSubmit" class="btn btn-primary" ng-click="scanSubset(subsetNoderefs)">
            Scan Subset {{subsetScanRunning?"(scanning)":""}}
        </button>
    </div>
    <div ng-if="hasSubsetReport">
        <report-renderer report="subsetReport"></report-renderer>
    </div>
</form>