<h3>Sent emails</h3>

<button class="btn btn-warning" ng-click="clear()">Clear messages</button>
<div class="email" ng-repeat="message in messages">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(header,value) in message.headers">
            <td>{{header}}</td>
            <td>{{value}}</td>
        </tr>
        </tbody>
    </table>

    <pre>{{message.body}}</pre>
</div>
