<form class="form-inline" role="form" name="search">
    <div class="form-group">
        <label for="taskid">Task-ID</label>
        <input type="text" class="form-control" id="taskid" ng-model="taskid" ng-pattern="idpattern">
    </div>
    <div class="form-group">
        <label for="instanceid">Instance-ID</label>
        <input type="text" class="form-control" id="instanceid" ng-model="instanceid" ng-pattern="idpattern">
    </div>
    <div class="btn-group">
        <button ng-click="findInstances()" class="btn btn-info" ng-disabled="loading">find</button>
        <button ng-click="findAllActive()" class="btn btn-primary" ng-disabled="loading">show all active</button>
        <button class="btn btn-danger" ng-click="deleteAllActive()">delete all active instances</button>
    </div>
</form>

<fieldset ng-repeat="instance in instances" class="workflow-instance">
    <legend>{{instance.id}}: {{instance.description}}</legend>
    <p>
        <label class="control-label">Initiator</label> {{instance.initiator}}
        <label class="control-label">Start date</label> {{instance.start | date : 'dd/MM/yyyy HH:mm:ss'}}
        <label class="control-label">Definition</label> {{instance.definition.id}} - {{instance.definition.name}}
    </p>
    <h5>Files: {{instance.files.length}}</h5>
    <ul>
        <li ng-repeat="file in instance.files">
            <a target="_blank" href={{file.url}}>{{file.path}}</a>
        </li>
    </ul>
    <h5>Tasks: {{instance.tasks.length}}</h5>
    <button ng-click="loadTasks(instance)" class="btn btn-info" ng-hide="instance.tasks.length >= 0">load tasks</button>
    <ul>
        <li ng-repeat="task in instance.tasks">
            <p>{{task.id}}: {{task.description}}</p>
            <pre>{{task.properties | json}}</pre>
        </li>
    </ul>
    <div class="btn-group">
        <button ng-click="cancelWorkflow(instance)" class="btn btn-warning" ng-disabled="loading">cancel</button>
        <button ng-click="deleteWorkflow(instance)" class="btn btn-danger" ng-disabled="loading">delete</button>
    </div>
</fieldset>
