<form>
    Find workflow by:
    Task-ID <input ng-model="taskid">
    Instance-ID <input ng-model="instanceid">
    <div class="btn-group">
        <button ng-click="findInstances()" class="btn btn-warning">find</button>
        <button ng-click="findAllActive()" class="btn btn-danger">show all active</button>
    </div>
</form>
<fieldset ng-repeat="instance in instances" class="workflow-instance">
    <legend>{{instance.id}}: {{instance.description}}</legend>
    <p>
        <label class="control-label">Initiator</label> {{instance.initiator}}
        <label class="control-label">Start date</label> {{instance.start | date : 'dd/MM/yyyy HH:mm:ss'}}
    </p>
    <h5>Files: {{instance.files.length}}</h5>
    <ul>
        <li ng-repeat="file in instance.files">
            {{file}}
        </li>
    </ul>
    <h5>Tasks: {{instance.tasks.length}}</h5>
    <button ng-click="loadTasks(instance)" class="btn btn-info" ng-hide="instance.tasks">load tasks</button>
    <ul>
        <li ng-repeat="task in instance.tasks">
            <p>{{task.id}}: {{task.description}}</p>
            <pre>{{task.properties | json}}</pre>
        </li>
    </ul>
    <div class="btn-group">
        <button ng-click="cancelWorkflow(instance)" class="btn btn-warning">cancel</button>
        <button ng-click="deleteWorkflow(instance)" class="btn btn-danger">delete</button>
    </div>
</fieldset>