body {
  background-color: rgb(49, 53, 60);
  > .title {
    background-color: #0081c2;
    a {
      color: #ffffff;
      h1 {
        margin: 5px 0;
      }
    }
    .version {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
    }
    margin: 0;
    padding: 10px;
  }
}

.table {
  width: auto;
}

.menu {
  float: left;
  width: 200px;
  padding: 0;
  li {
    a {
      color: #eee;
    }
    &:hover a {
      color: white;
    }
    padding: 5px 10px;
  }
}
.body {
  background-color: rgb(242, 242, 242);
  padding: 20px;
  margin-left: 205px;
  margin-top: -30px;
  min-height: 500px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  h3 {
    margin: 10px 0;
  }
}

.widget-box {
  border: 1px solid rgb(205, 205, 205);
  background-color: white;
  margin: 15px;
  h5 {
    border-bottom: 1px solid rgb(217, 217, 217);
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }
  .widget-body {
    padding: 5px;
  }
}

.alert {
  display: inline-block;
}

.workflow-instance {
  margin-bottom: 20px;
}

a[anchor] {
  cursor: pointer;
}

.aspect {
  .label {
    visibility: hidden;
  }
  &:hover {
    .label {
      visibility: visible;
      cursor: pointer;
    }
  }
}